<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="base_footprint">
  </link>
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00291971353695461 -0.00137055396386509 0.247093009152642"
        rpy="0 0 0" />
      <mass
        value="5.71330094696822" />
      <inertia
        ixx="0.0451901760143035"
        ixy="0.000112861110087808"
        ixz="-3.74742789795674E-06"
        iyy="0.0464614381420226"
        iyz="-2.24460034513834E-06"
        izz="0.0750479340967576" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_wheel_link">
    <inertial>
      <origin
        xyz="1.9705E-06 4.2704E-08 -0.00091033"
        rpy="0 0 0" />
      <mass
        value="0.94197" />
      <inertia
        ixx="0.0015823"
        ixy="-3.7887E-10"
        ixz="1.0322E-07"
        iyy="0.0015823"
        iyz="3.8949E-11"
        izz="0.0029546" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_left_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.0047976 0.1766 0.06604"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="left_wheel_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="right_wheel_link">
    <inertial>
      <origin
        xyz="-1.9705E-06 -4.2704E-08 -0.00091033"
        rpy="0 0 0" />
      <mass
        value="0.94197" />
      <inertia
        ixx="0.0015823"
        ixy="-3.7887E-10"
        ixz="-1.0322E-07"
        iyy="0.0015823"
        iyz="-3.8949E-11"
        izz="0.0029546" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_right_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.0047976 -0.1766 0.06604"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.00074797 -2.9971E-05 -0.015771"
        rpy="0 0 0" />
      <mass
        value="0.058736" />
      <inertia
        ixx="4.4134E-06"
        ixy="1.6512E-09"
        ixz="-8.5022E-08"
        iyy="3.4033E-05"
        iyz="-5.5548E-09"
        izz="3.4952E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.24835 0 0.27404"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_lidar_link">
    <inertial>
      <origin
        xyz="-0.0035782 1.6334E-09 0.011632"
        rpy="0 0 0" />
      <mass
        value="0.037432" />
      <inertia
        ixx="2.8051E-05"
        ixy="8.4886E-11"
        ixz="-1.071E-06"
        iyy="3.3615E-05"
        iyz="9.6473E-14"
        izz="4.5086E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/front_lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/front_lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_lidar_joint"
    type="fixed">
    <origin
      xyz="0.19627 0 0.33151"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="behind_lidar_link">
    <inertial>
      <origin
        xyz="-1.2388E-05 -1.0186E-07 -0.0060695"
        rpy="0 0 0" />
      <mass
        value="0.041884" />
      <inertia
        ixx="5.7044E-06"
        ixy="1.0548E-08"
        ixz="-1.4461E-09"
        iyy="5.7155E-06"
        iyz="-6.0699E-12"
        izz="8.786E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/behind_lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/behind_lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="behind_lidar_joint"
    type="fixed">
    <origin
      xyz="-0.20605 0 0.34764"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="behind_lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="0.00023578 2.774E-07 -0.0056375"
        rpy="0 0 0" />
      <mass
        value="0.021019" />
      <inertia
        ixx="5.3514E-06"
        ixy="1.0633E-10"
        ixz="-4.9204E-09"
        iyy="3.8785E-06"
        iyz="-5.7888E-12"
        izz="8.7994E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="-0.0055476 0 0.33804"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_front_caster_wheel_link">
    <inertial>
      <origin
        xyz="-0.011207 0.021255 -0.00012928"
        rpy="0 0 0" />
      <mass
        value="0.2021" />
      <inertia
        ixx="8.0104E-05"
        ixy="2.5182E-06"
        ixz="1.8078E-08"
        iyy="0.00012766"
        iyz="-1.8496E-08"
        izz="9.9394E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/left_front_caster_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/left_front_caster_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_front_caster_wheel_joint"
    type="fixed">
    <origin
      xyz="0.1302 0.143 0.02704"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="left_front_caster_wheel_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_behind_caster_wheel_link">
    <inertial>
      <origin
        xyz="0.0112066228503714 0.0212551055418231 0.000129276057644623"
        rpy="0 0 0" />
      <mass
        value="0.202103606932908" />
      <inertia
        ixx="8.01037508849863E-05"
        ixy="-2.5181518638481E-06"
        ixz="1.80773909506051E-08"
        iyy="0.000127664511423408"
        iyz="1.84967539329294E-08"
        izz="9.9393963424474E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/left_behind_caster_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/left_behind_caster_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_behind_caster_wheel_joint"
    type="fixed">
    <origin
      xyz="-0.1398 0.143 0.0275"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="left_behind_caster_wheel_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_front_caster_wheel_link">
    <inertial>
      <origin
        xyz="0.011207 0.021255 0.00012928"
        rpy="0 0 0" />
      <mass
        value="0.2021" />
      <inertia
        ixx="8.0104E-05"
        ixy="-2.5182E-06"
        ixz="1.808E-08"
        iyy="0.00012766"
        iyz="1.8494E-08"
        izz="9.9394E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/right_front_caster_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/right_front_caster_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_caster_wheel_joint"
    type="fixed">
    <origin
      xyz="0.1302 -0.143 0.02704"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_front_caster_wheel_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_behind_caster_wheel_link">
    <inertial>
      <origin
        xyz="0.0032066 0.021267 0.00012928"
        rpy="0 0 0" />
      <mass
        value="0.2021" />
      <inertia
        ixx="8.0104E-05"
        ixy="-2.5182E-06"
        ixz="1.8077E-08"
        iyy="0.00012766"
        iyz="1.8497E-08"
        izz="9.9394E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/right_behind_caster_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_robot_description/meshes/right_behind_caster_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_behind_caster_wheel_joint"
    type="fixed">
    <origin
      xyz="-0.1758 -0.143 0.027488"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_behind_caster_wheel_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>